.page-header {
  text-align: center;
}
.ysc-icon {
  width: 50%;
  text-align: center;
  float: left;
}
.ysc-icon:before {
  margin: auto;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 250px;
  height: 205px;
  content: " ";
}
.ysc-icon.github:before {
  background-image: url('../logos/Octocat.png');
}
.ysc-icon.yservice:before {
  background-image: url('../logos/YSC-ottawa.png');
  background-size: 300px;
  width: 300px;
}
